.header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 5rem;
    font-size: 1.4rem;
    background-color: rgb(170, 25, 25);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

@media screen and (max-width: 650px) {
    .header {
        font-size: .8rem;
    }
}