.scorekeeper {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    height: 5rem;
    font-size: 1.5rem;
    background-color: rgb(170, 25, 25);
    border-bottom: 5px solid black;
}